In [2]:
try:
    import os
    import sys

    import elasticsearch
    from elasticsearch import Elasticsearch
    from elasticsearch import helpers
    import pandas as pd
    import datetime
    import json
    from tqdm import tqdm
    import numpy as np

    print("All modules are loaded!")
except Exception as e:
    print("Some modules are missing: {}".format(e))

All modules are loaded!

In [5]:
for x in os.listdir('data'):
    print(x)

netflix_titles.csv

In [13]:
df = pd.read_csv("data/netflix_titles.csv")
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...